<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="capstone">
        <title>Capstone</title>
		
		
				<style type="text/css">
			
			
			h1{ 
			
				color: red;
		
			}

			p{ 
			
				font-weight: bold;
				color: blue;
			}
			

		
		
		</style>
    </head>
    <body>
	

	
	
        <h1>Capstone Project</h1>
        <p>Developed by: Jalal</p>

    </body>
</html>
